 .app {
     width: 1200px;
     margin: 0 auto;
     font-family: 'Calibri';
     font-size: 25px;
 }

 @media screen and (max-width: 1200px) {
     .app {
         width: 980px;
     }
 }

 @media screen and (max-width: 980px) {
     .app {
         width: 768px;
     }
 }

 @media screen and (max-width: 768px) {
     .app {
         width: 600px;
     }
 }

 @media screen and (max-width: 600px) {
     .app {
         width: 480px;
     }
 }