.page {

}

.page__tabs {
    display: block;
}

.tab {
    position: relative;
    display: inline-block;
    width: 50%;
    height: 80px;
    line-height: 80px;
    text-align: center;
    font-size: 30px;
}

.tab--active {
    composes: tab;
    background: #D9D9D9;
    font-weight: bold;
    text-shadow: black 0 0 10px;
}
.tab--active:before {
    content: '';
    position: absolute;
    border-left: white solid 80px;
    border-bottom: #D9D9D9 solid 80px;
    left: -40px;
}

.page__header {

}

.page__title {

}

.page__body {
    background: linear-gradient(to bottom, #D9D9D9, #6A6A6A);
    min-height: 500px;
    width: 100%;
}

.title {
    text-align: center;
    font-size: 44px;
    font-weight: bold;
    padding: 50px 0;
}

.checkbox {
    padding-top: 50px;
    text-align: center;
}

input[type=checkbox] {
    display: none;
}

input[type=checkbox] + label:before {
    content: '';
    display: inline-block;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    border: solid 1px #6A6A6A;
    vertical-align: top;
    margin: 0 10px;
}

input[type=checkbox]:checked + label:before {
    content: "\2713";
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    background: #ff4572;
    color: white;
}


.select-box {
    text-align: center;
    margin: 20px;
}

.select {
    width: 410px;
    height: 60px;
    font-size: 25px;
    border: solid grey 2px;
    border-radius: 8px;
    background: linear-gradient(to bottom, #dedede, #f2f2f2);
    margin: 20px;
}

.button {
    background: #ff4572;
    color: white;
    padding: 30px 60px;
    font-size: 30px;
    margin: 20px;
}

.label {

}