.popup-container {
    text-align: center;
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    display: block;
    background-color: rgba(0, 0, 0, 0.4);
}

.popup {
    width: 940px;
    min-height: 480px;
    position: relative;
    margin: auto;
    border-radius: 2px;
    z-index: 100;
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.137255) 0px 0px 4px, rgba(0, 0, 0, 0.278431) 0px 4px 8px;
    display: block;
    background-color: rgb(255, 255, 255);
}

@media screen and (max-width: 980px) {
    .popup {
        width: 80%;
    }
}

.popup__header {

}

.popup__title {
    font-size: 44px;
    text-align: center;
    font-weight: bold;
    padding: 5px;
}

.popup__close-btn {
     cursor: pointer;
     position: absolute;
     font-size: 1.8em;
     right: 10px;
     top: 0;
}

.popup__body {
 text-align: center;
}

.popup__footer {

}

.finish-btn {
    display: block;
    text-align: center;
    line-height: 30px;
    background: #ff4572;
    color: white;
    padding: 30px 60px;
    font-size: 30px;
    margin: 20px auto;
}
